:root{
    --pink1d: rgba(139, 92, 143, 1);
    --pink2d: rgba(111, 59, 114, 1);
--pink3d: rgba(92, 45, 96, 1); 
--pink4d: rgba(72, 28, 76, 1);
    --pink5d: rgba(48, 11, 51, 1);
    --red1d: rgba(193, 124, 146, 1);
    --red2d: rgba(153, 79, 105, 1);
    --red3d: rgba(117, 53, 74, 1);
--red4d: rgba(102, 34, 60, 1);
--red5d: rgba(74, 18, 40, 1);
    --purple1d: rgba(120, 100, 149, 1);
    --purple2d: rgba(88, 66, 119, 1);
    --purple3d: rgba(63, 45, 90, 1);
--purple4d: rgba(52, 38, 78, 1);
    --purple5d: rgba(30, 15, 53, 1);
    --brown1d: rgba(47, 36, 34, 1);
    --brown2d: rgba(79, 63, 60, 1);
    --brown3d: rgba(86, 76, 77, 1);
    --textd: rgba(245, 242, 248, 1);
--pink1l: rgba(176, 124, 168, 1);
--pink2l: rgba(156, 102, 148, 1);
--pink3l: rgba(136, 82, 128, 1);
--pink4l: rgba(116, 62, 108, 1);
--pink5l: rgba(96, 42, 88, 1);
--red1l: rgba(232, 170, 186, 1);
--red2l: rgba(206, 136, 158, 1);
--red3l: rgba(176, 104, 128, 1);
--red4l: rgba(146, 74, 98, 1);
--red5l: rgba(116, 44, 68, 1);
--purple1l: rgba(198, 182, 222, 1);
--purple2l: rgba(168, 148, 198, 1);
--purple3l: rgba(138, 116, 174, 1);
--purple4l: rgba(108, 86, 144, 1);
--purple5l: rgba(78, 56, 114, 1);
    --brown1l: rgba(47, 36, 34, 1);
    --brown2l: rgba(79, 63, 60, 1);
    --brown3l: rgba(86, 76, 77, 1);
 --textl: rgba(38, 28, 42, 1);
    }