/* tesing scss file -- nvm
*/

* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: cadetblue gainsboro;
    overscroll-behavior: none;
}

header {
  width: fit-content;
  padding: 10px;
  margin: 10px auto -7px auto;
  text-wrap: balance;
  position: relative;
  z-index: 100;
}

h1 {
  position: relative;
  margin:0;
  text-align: left;
}

main {
display: block;
unicode-bidi: isolate;
}

body {
  padding: 2vw;
  background-color: lavender; /*  background color isn't really used bc there's a background image*/
  color: slategrey;
  font-size: 2vw;
  font-family:serif;
  background-image: url(../_assets/purple-dithered.png);
  overflow-x: hidden;
  display: block;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.element{
  width: fit-content;
  height: fit-content;
  display: inline-block;
  position: absolute;
}

.element img {
  width: 100%;
  height: auto;
}

/* from ribo.zone */ 
.element span {
  opacity: 0;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  font-size: 2.3rem;
  color: #FFF;  /* probably set this to inherit from theme*/
  filter: drop-shadow(1px 1px 0 black) 
    drop-shadow(-1px 1px 0 black)
    drop-shadow(1px -1px 0 black)
    drop-shadow(-1px -1px 0 black);
}
.element:hover span, .element:focus span {
  opacity: 1;
}
.element:hover img, .element:focus img {
  /* add hover effects like transform or filter to your images here! */
  /*transform: rotate(3deg)  */ /* i don't love the rotate effect -- change? */
  filter: sepia(60%);
}



/* this is used by light switch (toggleTheme()) */
.light-mode {
  background-color: indigo; /* uses image background instead */
  color: black;
  background-image: url(../_assets/light-purple-dithered.png);
}

/* deciding between two grid options --
 might not be using either */
.container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  background-image: url(_assets/bookshelfcanva.png);
  background-size:scale-down;
  padding: 10px;
}

.container > div{
  background-color: transparent;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
}
/* ------------- */

/* second container option */
.flex-container {
  display: flex;
}

.flex-container > div{
  margin: 10px;
  padding: 20px;
  font-size: 30px;

}
/* --------------*/




#light-toggle {
  /*background-image: url(_assets/lightswitch-dithered.png); */
  border-style: none;
  background-size: contain;
  width: 4vw;
  bottom: 35vw;
} 

#floor {
  position: fixed;
  left: 0;
  /*top: 45vw; */
  bottom: 0vw;
  width: 100vw;
  height: 10vw;
  display: block;
 object-fit: cover;
  z-index: -1;
}